In [5]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import sklearn as sk

In [6]:
df = pd.read_csv("credit_data.csv")
df.head()

,Age,Gender,Income,Credit Score,Credit History Length,Number of Existing Loans,Loan Amount,Loan Tenure,Existing Customer,State,City,LTV Ratio,Employment Profile,Profile Score,Occupation
0,31,Male,36000,604,487,5,109373,221,No,Karnataka,Mysuru,90.943430,Salaried,77,Doctor
1,25,Male,50000,447,386,2,150000,89,No,Karnataka,Bengaluru,91.135253,Salaried,43,Software Engineer
2,62,Other,178000,850,503,10,69099,110,Yes,Uttar Pradesh,Kanpur,40.000000,Salaried,90,Banker
3,69,Female,46000,668,349,6,150000,148,Yes,Karnataka,Bengaluru,87.393365,Self-Employed,86,Contractor
4,52,Male,132000,601,553,5,150000,157,No,Karnataka,Mysuru,66.158757,Salaried,90,Teacher

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279856 entries, 0 to 279855
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       279856 non-null  int64
 1   Gender                    279856 non-null  object
 2   Income                    279856 non-null  int64
 3   Credit Score              279856 non-null  int64
 4   Credit History Length     279856 non-null  int64
 5   Number of Existing Loans  279856 non-null  int64
 6   Loan Amount               279856 non-null  int64
 7   Loan Tenure               279856 non-null  int64
 8   Existing Customer         279856 non-null  object
 9   State                     279856 non-null  object
 10  City                      279856 non-null  object
 11  LTV Ratio                 279856 non-null  float64
 12  Employment Profile        279856 non-null  object
 13  Profile Score             279856 non-null  int64
 14  Occupation                261584 non-null  object
dtypes: float64(1), int64(8), object(6)
memory usage: 32.0+ MB

In [14]:
df.describe()

,Age,Income,Credit Score,Credit History Length,Number of Existing Loans,Loan Amount,Loan Tenure,LTV Ratio,Profile Score
count,279856.000000,279856.000000,279856.000000,279856.000000,279856.000000,279856.000000,279856.000000,279856.000000,279856.000000
mean,44.005217,76499.163856,582.953773,307.965146,4.701693,105795.342773,133.340654,71.643101,77.350155
std,15.311051,42875.575193,163.076754,175.083268,2.980351,40458.370929,96.064132,16.865785,24.509196
min,18.000000,9000.000000,300.000000,6.000000,0.000000,5294.000000,12.000000,40.000000,0.000000
25%,31.000000,42000.000000,446.000000,156.000000,2.000000,72173.000000,62.000000,58.105848,61.000000
50%,44.000000,68000.000000,584.000000,307.000000,5.000000,111263.000000,100.000000,72.133017,89.000000
75%,57.000000,104000.000000,722.000000,460.000000,7.000000,150000.000000,201.000000,86.239725,98.000000
max,70.000000,209000.000000,850.000000,611.000000,10.000000,150000.000000,359.000000,95.000000,100.000000

Data cleaning

In [18]:
# Check for duplicates
duplicates = df.duplicated().sum()
# Check for missing values
missing_values = df.isnull().sum()

duplicates, missing_values

(100814,
 Age                             0
 Gender                          0
 Income                          0
 Credit Score                    0
 Credit History Length           0
 Number of Existing Loans        0
 Loan Amount                     0
 Loan Tenure                     0
 Existing Customer               0
 State                           0
 City                            0
 LTV Ratio                       0
 Employment Profile              0
 Profile Score                   0
 Occupation                  18272
 dtype: int64)

Exploration and Preparation

In [20]:
# Investigate the structure and shape of the dataset
print(df.shape)
print(df.columns)

(279856, 15)
Index(['Age', 'Gender', 'Income', 'Credit Score', 'Credit History Length',
       'Number of Existing Loans', 'Loan Amount', 'Loan Tenure',
       'Existing Customer', 'State', 'City', 'LTV Ratio', 'Employment Profile',
       'Profile Score', 'Occupation'],
      dtype='object')

In [23]:
# Compute summary statistics for numeric columns
print(df.describe())

                 Age         Income   Credit Score  Credit History Length  \
count  279856.000000  279856.000000  279856.000000          279856.000000
mean       44.005217   76499.163856     582.953773             307.965146
std        15.311051   42875.575193     163.076754             175.083268
min        18.000000    9000.000000     300.000000               6.000000
25%        31.000000   42000.000000     446.000000             156.000000
50%        44.000000   68000.000000     584.000000             307.000000
75%        57.000000  104000.000000     722.000000             460.000000
max        70.000000  209000.000000     850.000000             611.000000

       Number of Existing Loans    Loan Amount    Loan Tenure      LTV Ratio  \
count             279856.000000  279856.000000  279856.000000  279856.000000
mean                   4.701693  105795.342773     133.340654      71.643101
std                    2.980351   40458.370929      96.064132      16.865785
min                    0.000000    5294.000000      12.000000      40.000000
25%                    2.000000   72173.000000      62.000000      58.105848
50%                    5.000000  111263.000000     100.000000      72.133017
75%                    7.000000  150000.000000     201.000000      86.239725
max                   10.000000  150000.000000     359.000000      95.000000

       Profile Score
count  279856.000000
mean       77.350155
std        24.509196
min         0.000000
25%        61.000000
50%        89.000000
75%        98.000000
max       100.000000